html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url("./img/imagefonts/icomoon.eot");
  src: url("./img/imagefonts/icomoon.eot") format("embedded-opentype"), url("./img/imagefonts/icomoon.ttf") format("truetype"), url("./img/imagefonts/icomoon.woff") format("woff"), url("./img/imagefonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-right: 1rem;
}

.icon-wikipedia:before {
  content: "\e900";
  color: red;
}

.icon-user:before {
  content: "\e901";
}

.icon-tag:before {
  content: "\e902";
}

.icon-sass:before {
  content: "\e903";
  color: #CE6499;
}

.icon-react:before {
  content: "\e904";
  color: #52D8FB;
}

.icon-phone:before {
  content: "\e905";
}

.icon-pencil:before {
  content: "\e906";
}

.icon-linkedin:before {
  content: "\e907";
  color: #0077b7;
}

.icon-github:before {
  content: "\e908";
  color: #006df0;
}

.icon-fbl:before {
  content: "\e909";
  color: #006df0;
}

.icon-envelope:before {
  content: "\e90a";
}

.icon-child:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

.icon-bootstrap:before {
  content: "\e90d";
  color: #563C7D;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
  /* display: none; */
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* display: none; */
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19A68C;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #F63D3A;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #FDA543;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #193B48;
}

@-webkit-keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 1, 2019 */
@font-face {
  font-family: 'oreganoregular';
  src: url("./oregano/oregano-regular-webfont.woff2") format("woff2"), url("./oregano/oregano-regular-webfont.woff") format("woff"), url("./oregano/Oregano-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'oreganoitalic';
  src: url("./oregano/oregano-regularitalic-webfont.woff2") format("woff2"), url("./oregano/oregano-regularitalic-webfont.woff") format("woff"), url("./oregano/Oregano-Regularitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.blue {
  color: #00DFFC;
}

html {
  font-size: 16px;
  background-color: #005F6B;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear 0.05s;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  -webkit-transition: border 0.1s linear 0.05s;
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737;
  -webkit-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  -webkit-transition: border 0.1s linear 0s;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
  display: block;
}

.slideshow .slide.is-loaded {
  opacity: 1;
}

.slideshow .slide .caption {
  padding: 20px 20px;
  color: #75af28;
  max-width: 360px;
  position: relative;
  border-radius: 5px;
  margin-left: 10%;
  -webkit-box-shadow: 1px 1px 37px 6px #000000;
  box-shadow: 1px 1px 37px 6px #000000;
}

@media (max-width: 767px) {
  .slideshow .slide .caption {
    margin: 0 10%;
  }
}

.slideshow .slide .caption::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.slideshow .slide .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 700px;
  font: 900 50px/1.2 "Lato", sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .slideshow .slide .title {
    font-size: 5vw;
  }
}

.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 14px;
  line-height: 1.4;
}

.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #75af28;
}

.slideshow .slide .btn::before {
  background: #75af28;
}

.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}

.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}

.slideshow .pagination .item + .page {
  margin-left: -2px;
}

.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: #00DFFC;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}

.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}

.slideshow .arrows .prev {
  left: 1vw;
}

.slideshow .arrows .prev:hover .svg {
  left: -10px;
}

.slideshow .arrows .next {
  right: 1vw;
}

.slideshow .arrows .next:hover .svg {
  left: 10px;
}

.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343838;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  background-color: #283E4A;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}

.logo {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5vw;
  color: #00B4CC;
  text-align: left;
}

.logo-left {
  margin-left: 5vw;
}

@media (max-width: 767px) {
  .logo-left {
    margin-left: 0;
    padding-left: 2px;
    font-size: 5vw;
  }
}

.header__image-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #343838;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  background-color: #343838;
  background-color: #283E4A;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.menu ul {
  display: inline;
  margin-right: 5vw;
  margin-right: 64px;
}

.menu li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 15px 0;
}

.menu-text {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .menu-text {
    font-size: 4vw;
    line-height: 1.5;
  }
}

@media (max-width: 399px) {
  .menu-text {
    font-size: 5vw;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .menu-text {
    padding: 0 8px;
  }
}

.menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  padding: 15 15px;
  border-right: 1px solid #00B4CC;
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-right: calc(64px + 3vw);
    padding: 10px 0;
  }
  .menu a {
    padding: 0 0;
  }
  .menu li {
    padding: 0;
  }
}

.sticky {
  top: 0;
  position: fixed;
}

.container {
  padding: 0 20px;
  color: #989898;
}

.menu__item span {
  color: #00B4CC;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu__item span:hover {
  color: #00DFFC;
}

.menu__item span:link {
  text-decoration: none;
  color: red;
}

.menu__item--hover::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: 203;
  border-radius: 1px;
  background-color: #00DFFC;
  -webkit-animation: menuitemline 1s ease-in-out forwards;
          animation: menuitemline 1s ease-in-out forwards;
}

@-webkit-keyframes menuitemline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes menuitemline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.intro {
  width: 100;
  min-height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__square {
  position: relative;
  display: block;
  width: 33.33333%;
  height: 33.33333%;
}

@media (max-width: 768px) {
  .intro__square {
    width: 100%;
  }
}

.intro__square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.intro__square--text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f3f2f2;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro__square--text h1 {
  margin: 15% auto 15%;
  font: 900 30px/1.2 "Lato", sans-serif;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.intro__square--text h1:hover {
  color: c_blue3;
}

@media (max-width: 768px) {
  .intro__square--text h1 {
    font-size: 5vw;
  }
}

.intro__square--text p {
  padding: 0 10%;
  color: #5d5c5a;
  font-size: 1.1rem;
}

.intro__square--image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro__square--image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.hamburger {
  position: fixed;
  top: 3vw;
  right: 3vw;
  z-index: 2000;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.menu--open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  will-change: transform;
}

.menu--hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  will-change: transform;
}

.intro__btn {
  background: #00B4CC;
  border-color: #00B4CC;
}

.page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 20vh 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #5d5c5a;
}

@media (max-width: 767px) {
  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page::after {
  content: "";
  height: 4px;
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -10vh;
  border-radius: 1px;
  background-color: #75af28;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.page__chapter {
  margin: 15px 15px 0 5%;
  text-align: left;
}

.page__motto {
  margin: 15px 15px 15px 5%;
  text-align: left;
}

.page__subtitle {
  display: inline-block;
  color: black;
  margin: 15px 15px 15px 5%;
  text-transform: uppercase;
  border-bottom: 2px solid #75af28;
}

@media (max-width: 600px) {
  .page__subtitle {
    font-size: 10px;
    padding: 0 8px;
  }
}

.page__column {
  width: 50%;
}

@media (max-width: 767px) {
  .page__column {
    width: 100%;
    text-align: center;
  }
}

.page__column .image--small {
  width: 20%;
  height: auto;
  margin: 25% auto 0 auto;
}

.page__column .image--small img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  margin: 0 auto;
}

.page__column .image--large {
  width: 100%;
}

.page__column .image--large img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

@media (max-width: 767px) {
  .page__column .image--large {
    display: none;
  }
}

.page__header {
  position: absolute;
  top: 5%;
  left: 0;
  width: 60%;
  background-color: transparent;
  text-align: end;
  z-index: 1000;
  font-weight: 900;
  font-size: 60px;
  color: black;
  word-spacing: 8px;
}

@media (max-width: 767px) {
  .page__header {
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
}

.page__subtitle--chapteral {
  text-transform: none;
  font-size: 25px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .page__subtitle--chapteral {
    font-size: 1.5rem;
  }
}

.page__subtitle--central {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.adres {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.adres__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #343838;
  width: 20%;
  border: 2px solid #00B4CC;
  border-radius: 2px;
  margin: 4vw;
  padding: 2vw;
}

@media (max-width: 767px) {
  .adres__form {
    width: 50vw;
  }
}

@media (max-width: 399px) {
  .adres__form {
    width: 75vw;
  }
}

.adres__form * {
  margin: 1%;
}

.adres__btn {
  position: relative;
  margin-top: 4%;
}

.page--kontakt-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page__column--adresal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: #1d201d;
  background-color: #343838;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  background-repeat: repeat;
}

.footer span {
  color: #00DFFC;
  font-weight: 900;
  padding: 0 1%;
}

@media (max-width: 767px) {
  .footer {
    font-size: 3vw;
  }
}

.footer__link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin: 0 10px;
  width: 24px;
  height: 24px;
}

.footer__link:hover {
  color: #75af28;
}

.footer__link:link {
  text-decoration: none;
}

.footer__icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 24px;
  height: 24px;
}

#bazawiedzy .pagechapter div {
  margin: 15px 15px;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-column-rule: 1px solid #75af28;
          column-rule: 1px solid #75af28;
}

.bazawiedzy-text {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-column-rule: 1px solid #75af28;
          column-rule: 1px solid #75af28;
  margin: 15px 15px;
  border: 2px solid #75af28;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 1rem 1rem;
}

.bazawiedzy__header {
  font-size: 1rem;
  color: #75af28;
}

.project {
  height: 21.5vw;
  width: 33.3333%;
  float: left;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .project {
    width: 50%;
    height: 32.2vw;
  }
}

@media (max-width: 399px) {
  .project {
    width: 100%;
    height: 64vw;
  }
}

.project__name {
  margin: 5% 0;
  font-size: 1.5vw;
}

@media (max-width: 767px) {
  .project__name {
    font-size: 2.5vw;
  }
}

@media (max-width: 399px) {
  .project__name {
    font-size: 5vw;
  }
}

.project__description {
  margin: 2%;
  font-size: 1vw;
}

@media (max-width: 767px) {
  .project__description {
    font-size: 2vw;
  }
}

@media (max-width: 399px) {
  .project__description {
    font-size: 4vw;
  }
}

.project__text {
  margin: 2% 2%;
  font-size: 1.5vw;
}

@media (max-width: 767px) {
  .project__text {
    font-size: 2.5vw;
  }
}

@media (max-width: 399px) {
  .project__text {
    font-size: 5vw;
  }
}

.projects {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  padding: 5% 0;
  min-height: 100vh;
}

.project__comment {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #00DFFC;
  background-color: rgba(52, 56, 56, 0.7);
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .project__comment {
    opacity: 1;
  }
}

.project__comment:hover {
  -webkit-transition: .8s linear;
  transition: .8s linear;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.project__comment:not(:hover) {
  -webkit-transition: .8s linear;
  transition: .8s linear;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

@media (max-width: 767px) {
  .project__comment:not(:hover) {
    opacity: 1;
  }
}

.project__comment a {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5% 1%;
  margin: 0;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 15vw;
  height: 7.5vw;
  border: 1% solid white;
  margin: 1%;
  border-radius: 2%;
}

@media (max-width: 767px) {
  .skill {
    width: 40vw;
    height: 20vw;
  }
}

@media (max-width: 399px) {
  .skill {
    width: 200px;
    height: 100px;
  }
}

.skill__image {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skill__text {
  margin: 0 auto;
}

.star {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
}

.star:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  content: "";
  top: 3px;
  left: -5px;
}

.star-golden {
  border-bottom: 10px solid gold;
}

.star-golden:after {
  border-top: 10px solid gold;
}

.star-grey {
  border-bottom: 10px solid #343838;
}

.star-grey:after {
  border-top: 10px solid #343838;
}

.Me {
  background-color: #343838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 5%;
  color: #00DFFC;
  line-height: 1.5;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2vw;
}

@media (max-width: 767px) {
  .Me {
    font-size: 3vw;
  }
}

@media (max-width: 399px) {
  .Me {
    font-size: 6vw;
    line-height: 1.2;
  }
}

.introduction {
  background: url("./img/pf1368dark.jpg") no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 5%;
  color: #00DFFC;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 6vw;
  font-weight: 900;
  font-family: 'oreganoitalic';
}

@media (max-width: 767px) {
  .introduction {
    font-size: 9vw;
  }
}

@media (max-width: 399px) {
  .introduction {
    font-size: 9vw;
  }
}

h1 {
  font-family: 'Oregano', cursive;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5vw;
  padding: 1vw;
  color: black;
  width: 100vw;
  text-align: center;
}

@media (max-width: 767px) {
  h1 {
    font-size: 5vw;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 8vw;
  }
}

.contact {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0 10% 0;
  background-color: #343838;
  background: url("./img/pf1368dark.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #00B4CC;
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5vw;
  background-color: #343838;
  border: 2px solid #00DFFC;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 30px #333;
          box-shadow: 0 0 30px #333;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .contact__items {
    font-size: 3.5vw;
  }
}

@media (max-width: 399px) {
  .contact__items {
    font-size: 4vw;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2vw;
}

.form__input {
  display: block;
  padding: 0 0;
  font-size: 0.875rem;
  background-color: #F5F5F5;
  height: 35px;
  border: 2px solid #008C9E;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: border-color, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
  transition: border-color, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
  transition: border-color, box-shadow ease-in-out .2s, box-shadow ease-in-out .2s;
  transition: border-color, box-shadow ease-in-out .2s, box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
}

.form__input:focus {
  border-color: #00DFFC;
  -webkit-box-shadow: 0 0 5px -1px #00DFFC;
          box-shadow: 0 0 5px -1px #00DFFC;
}

.form__input-text {
  height: 70px;
}

.fancy {
  -webkit-animation: anim1 .7s ease-out;
          animation: anim1 .7s ease-out;
  will-change: transform, opacity;
}

@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes anim1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
/*# sourceMappingURL=style.css.map */