html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url("./img/imagefonts/icomoon.eot");
  src: url("./img/imagefonts/icomoon.eot") format("embedded-opentype"), url("./img/imagefonts/icomoon.ttf") format("truetype"), url("./img/imagefonts/icomoon.woff") format("woff"), url("./img/imagefonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-right: 1rem;
}

.icon-wikipedia:before {
  content: "\e900";
  color: red;
}

.icon-user:before {
  content: "\e901";
}

.icon-tag:before {
  content: "\e902";
}

.icon-sass:before {
  content: "\e903";
  color: #CE6499;
}

.icon-react:before {
  content: "\e904";
  color: #52D8FB;
}

.icon-phone:before {
  content: "\e905";
}

.icon-pencil:before {
  content: "\e906";
}

.icon-linkedin:before {
  content: "\e907";
  color: #0077b7;
}

.icon-github:before {
  content: "\e908";
  color: #006df0;
}

.icon-fbl:before {
  content: "\e909";
  color: #006df0;
}

.icon-envelope:before {
  content: "\e90a";
}

.icon-child:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

.icon-bootstrap:before {
  content: "\e90d";
  color: #563C7D;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
  /* display: none; */
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* display: none; */
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #19A68C;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #F63D3A;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #FDA543;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #193B48;
}

@-webkit-keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes spin {
  0%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 1, 2019 */
@font-face {
  font-family: 'oreganoregular';
  src: url("./oregano/oregano-regular-webfont.woff2") format("woff2"), url("./oregano/oregano-regular-webfont.woff") format("woff"), url("./oregano/Oregano-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'oreganoitalic';
  src: url("./oregano/oregano-regularitalic-webfont.woff2") format("woff2"), url("./oregano/oregano-regularitalic-webfont.woff") format("woff"), url("./oregano/Oregano-Regularitalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 4, 2019 */
@font-face {
  font-family: 'latoblack';
  src: url("./lato/lato-black-webfont.woff2") format("woff2"), url("./lato/lato-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("./lato/lato-bold-webfont.woff2") format("woff2"), url("./lato/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("./lato/lato-light-webfont.woff2") format("woff2"), url("./lato/lato-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("./lato/lato-regular-webfont.woff2") format("woff2"), url("./lato/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latohairline';
  src: url("./lato/lato-thin-webfont.woff2") format("woff2"), url("./lato/lato-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.blue {
  color: #00DFFC;
}

html {
  font-size: 16px;
  background-color: #005F6B;
  font-family: 'latoregular';
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  -webkit-transition: color 0.1s linear 0.05s;
  transition: color 0.1s linear 0.05s;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.btn::after {
  -webkit-transition: border 0.1s linear 0.05s;
  transition: border 0.1s linear 0.05s;
}

.btn .btn-inner {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #373737;
  -webkit-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.btn:hover::after {
  border-color: #373737;
  -webkit-transition: border 0.1s linear 0s;
  transition: border 0.1s linear 0s;
}

.logo {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5vw;
  color: #00B4CC;
  text-align: left;
}

.logo-left {
  margin-left: 5vw;
}

@media (max-width: 767px) {
  .logo-left {
    margin-left: 0;
    padding-left: 2px;
    font-size: 5vw;
  }
}

.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #283E4A;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.menu ul {
  display: inline;
  margin-right: 5vw;
  margin-right: 64px;
}

.menu li {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 15px 0;
}

.menu-text {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 767px) {
  .menu-text {
    font-size: 4vw;
    line-height: 1.5;
  }
}

@media (max-width: 399px) {
  .menu-text {
    font-size: 5vw;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .menu-text {
    padding: 0 8px;
  }
}

.menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  padding: 15 15px;
  border-right: 1px solid #00B4CC;
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-right: calc(64px + 3vw);
    padding: 10px 0;
  }
  .menu a {
    padding: 0 0;
  }
  .menu li {
    padding: 0;
  }
}

.menu__item span {
  color: #00B4CC;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu__item span:hover {
  color: #00DFFC;
}

.menu__item span:link {
  text-decoration: none;
  color: red;
}

.menu__item--hover::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: 203;
  border-radius: 1px;
  background-color: #00DFFC;
  -webkit-animation: menuitemline 1s ease-in-out forwards;
          animation: menuitemline 1s ease-in-out forwards;
}

@-webkit-keyframes menuitemline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes menuitemline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.hamburger {
  position: fixed;
  top: 3vw;
  right: 3vw;
  z-index: 2000;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.menu--open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  will-change: transform;
}

.menu--hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  will-change: transform;
}

.intro__btn {
  background: #00B4CC;
  border-color: #00B4CC;
}

.adres {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.adres__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: -webkit-gradient(linear, left top, right top, from(#005F6B), to(#283E4A));
  background-image: linear-gradient(to right, #005F6B, #283E4A);
  width: 20%;
  border: 2px solid #00B4CC;
  border-radius: 2px;
  margin: 4vw;
  padding: 2vw;
}

@media (max-width: 767px) {
  .adres__form {
    width: 50vw;
  }
}

@media (max-width: 399px) {
  .adres__form {
    width: 75vw;
  }
}

.adres__form * {
  margin: 1%;
}

.adres__btn {
  position: relative;
  margin-top: 4%;
}

.page--kontakt-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page__column--adresal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background-color: #283E4A;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  background-repeat: repeat;
}

.footer span {
  color: #00DFFC;
  font-weight: 900;
  padding: 0 1%;
}

@media (max-width: 767px) {
  .footer {
    font-size: 3vw;
  }
}

.project {
  height: 21.5vw;
  width: 33.3333%;
  float: left;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .project {
    width: 50%;
    height: 32.2vw;
  }
}

@media (max-width: 399px) {
  .project {
    width: 100%;
    height: 64vw;
  }
}

.project__name {
  margin: 5% 0;
  font-size: 1.5vw;
}

@media (max-width: 767px) {
  .project__name {
    font-size: 2.5vw;
  }
}

@media (max-width: 399px) {
  .project__name {
    font-size: 5vw;
  }
}

.project__description {
  margin: 2%;
  font-size: 1vw;
}

@media (max-width: 767px) {
  .project__description {
    font-size: 2vw;
  }
}

@media (max-width: 399px) {
  .project__description {
    font-size: 4vw;
  }
}

.project__text {
  margin: 2% 2%;
  font-size: 1.5vw;
}

@media (max-width: 767px) {
  .project__text {
    font-size: 2.5vw;
  }
}

@media (max-width: 399px) {
  .project__text {
    font-size: 5vw;
  }
}

.projects {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  padding: 5% 0;
  min-height: 100vh;
}

.project__comment {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 140, 158, 0.3);
  font-size: 2vw;
  font-weight: 700;
  line-height: 1.5;
  font-family: "latoregular";
}

@media (max-width: 767px) {
  .project__comment {
    opacity: 1;
    border-top: 2px double #00B4CC;
    border-bottom: 2px double #00B4CC;
  }
}

.project__comment:hover {
  -webkit-transition: .8s linear;
  transition: .8s linear;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.project__comment:not(:hover) {
  -webkit-transition: .8s linear;
  transition: .8s linear;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

@media (max-width: 767px) {
  .project__comment:not(:hover) {
    opacity: 1;
  }
}

.project__comment a {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 5% 1% 1% 1%;
  margin: 0;
  position: relative;
}

.skills p {
  color: #343838;
  border: 1px #343838 solid;
  border-radius: 3px;
  width: 70%;
  right: 1%;
  background-color: goldenrod;
  padding: 1%;
  font-family: "Lato", sans-serif;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 15vw;
  height: 7.5vw;
  border: 1% solid white;
  margin: 1%;
  border-radius: 2%;
}

@media (max-width: 767px) {
  .skill {
    width: 40vw;
    height: 20vw;
  }
}

@media (max-width: 399px) {
  .skill {
    width: 200px;
    height: 100px;
  }
}

.skill:last-of-type {
  margin-bottom: 5vw;
}

.skill__image {
  width: 50%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skill__text {
  margin: 0 auto;
}

.star {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
}

.star:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  content: "";
  top: 3px;
  left: -5px;
}

.star-golden {
  border-bottom: 10px solid gold;
}

.star-golden:after {
  border-top: 10px solid gold;
}

.star-grey {
  border-bottom: 10px solid #343838;
}

.star-grey:after {
  border-top: 10px solid #343838;
}

.Me {
  background-color: #343838;
  background-image: url("./img/3px-tile.png");
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 5%;
  color: #00DFFC;
  line-height: 1.5;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2vw;
}

@media (max-width: 767px) {
  .Me {
    font-size: 4vw;
  }
}

@media (max-width: 399px) {
  .Me {
    font-size: 6vw;
    line-height: 1.2;
  }
}

.introduction {
  background: url("./images/pf.jpg") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 5%;
  color: #00DFFC;
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 6vw;
  font-weight: 900;
  font-family: 'oreganoitalic';
}

@media (max-width: 767px) {
  .introduction {
    background: url("./img/pf768.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1368px) {
  .introduction {
    background: url("./img/pf1368.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 1440px) and (min-width: 1369px) {
  .introduction {
    background: url("./img/pf1440.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .introduction {
    font-size: 9vw;
  }
}

@media (max-width: 399px) {
  .introduction {
    font-size: 9vw;
  }
}

h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 2.5vw;
  padding: 1vw;
  color: black;
  width: 100vw;
  text-align: center;
}

@media (max-width: 767px) {
  h1 {
    font-size: 5vw;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 8vw;
  }
}

.contact {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 0 10% 0;
  background-color: #343838;
  background: url("./img/kontakt.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #00B4CC;
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#005F6B), to(#283E4A));
  background-image: linear-gradient(to right, #005F6B, #283E4A);
  border: 2px solid #00DFFC;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 30px #333;
          box-shadow: 0 0 30px #333;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .contact__items {
    font-size: 3.5vw;
  }
}

@media (max-width: 399px) {
  .contact__items {
    font-size: 4vw;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2vw;
}

.form__input {
  display: block;
  padding: 0 0;
  font-size: 0.875rem;
  background-color: #F5F5F5;
  height: 35px;
  border: 2px solid #008C9E;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: border-color, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
  transition: border-color, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
  transition: border-color, box-shadow ease-in-out .2s, box-shadow ease-in-out .2s;
  transition: border-color, box-shadow ease-in-out .2s, box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s, -webkit-box-shadow ease-in-out .2s;
}

.form__input:focus {
  border-color: #00DFFC;
  -webkit-box-shadow: 0 0 5px -1px #00DFFC;
          box-shadow: 0 0 5px -1px #00DFFC;
}

.form__input-text {
  height: 70px;
}

.fancy {
  -webkit-animation: fancy 0.9s ease-out;
          animation: fancy 0.9s ease-out;
  will-change: transform, opacity;
}

@-webkit-keyframes fancy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes fancy {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
/*# sourceMappingURL=style.css.map */